/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');

.label {
  margin-top: 20px
}

.form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

form label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.04em;
}

input[name='delay'] {
  width: 360px;
  height: 40px;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.04em;
  padding-left: 16px;
  border: 1px solid #808080;
  border-radius: 4px;
}

input[name='delay']:hover {
  outline: transparent;
  border-color: #000000;
}

input[name='delay']:focus {
  outline: transparent;
  border-color: #4e75ff;
}

fieldset {
  display: flex;
  flex-direction: row;
  gap: 48px;
  justify-content: center;
  width: 360px;
  height: 44px;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.04em;
  border: 1px solid #808080;
  border-radius: 4px;
}

fieldset:hover {
  border-color: #000000;
}

fieldset label {
  display: flex;
  flex-direction: row;
  gap: 8px;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.04em;
}

button {
  width: 360px;
  height: 40px;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.04em;
  color: #FFFFFF;
  border: none;
  border-radius: 8px;
  background: #4e75ff;
  
}

button:hover {
  background: #6c8cff;
}
